body {
	max-width: 45em;
}

a:hover {
	border-bottom-style: none;
}

.header {
	display: grid;
	grid-template-columns: 1fr 5fr;
  	column-gap: 10px;
}

.key {
	text-align: right;
    align-self: baseline;
}

.value {
	text-align: left;
    align-self: baseline;
	display: flex;
}

.value * {
	align-self: baseline;
}

.tags {
	display: flex;
	gap: 10px;
	margin-right: auto;
}

h3 {
	margin-right: auto;
}

.desc {
	margin-left: 8em;
}