body {
	max-width: 54em;
}

.date {
	white-space: nowrap;
	margin-right: 1em;
}

.header {
  	display: flex;
  	gap: 10px;
}

.header * {
    align-self: baseline;
}

.tags {
	display: flex;
	gap: 10px;
	margin-right: auto;
}

.desc {
	margin-left: 9em;
}