body {
	max-width: 54em;
}

/*article:hover {
	color: #982c61;
	cursor: pointer;
}*/

.article {
	display: flex;
}

.article:hover {
  border-bottom: none;
}

.date {
	white-space: nowrap;
	margin-right: 1em;
}

.header {
  	display: flex;
  	gap: 10px;
}

.header * {
    align-self: baseline;
}

.tags {
	display: flex;
	gap: 10px;
	margin-right: auto;
}

.desc {
	margin-left: 9em;
}