main {
	/*background-color: #f6f6f2;*/
	padding: 0.2vh 7vw 0.2vh 7vw;
	border-style: solid;
	border: 1px;
	border-spacing: 0px;
	border-color: #f2f2f2;
}

h1 {
	margin-bottom: 0;
}

.header div {
	display: flex;
  	flex-direction: column;
	gap: 0px;
}

.header div div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.split table td {
	width: 50%;
  	border: none;
	padding: 1% 3% 3% 3%;
	vertical-align: top;
}

.split table th {
  	border-bottom: 0;
}