<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../sakura.css" rel="stylesheet">
    <link href="../index.css" rel="stylesheet">
    <title>#{{this.0}}</title>
  </head>
  <body>
    <main>
      <h1>#{{this.0}}</h1>
      {{> index inner=this.1}}
    </main>
  </body>
</html>