<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../index.css" rel="stylesheet">
    <title>#{{this}}</title>
  </head>
  <body>
    <div class="sidebar">
      <a id="back" href="index.html">☚ back</a>
    </div>
    <main>
      <h1>#{{this}}</h1>
    </main>
  </body>
</html>